doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title="title_susy"
    script(src="js/head.js")
    link(href='http://fonts.googleapis.com/css?family=Crete+Round', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/app_susy-academic.css', type='text/css')
  body
    include susy-academic/_header.jade
    include susy-academic/_content.jade
    include susy-academic/_footer.jade
